input[type='text']{
	width: 300px;
	height: 25px;
	padding-left: 10px;
	border: 2px solid grey;
	border-radius: 4px;
	outline: none;
	margin-bottom: 20px;
}

p{
	width: 330px;
	height: 25px;
	padding-left: 10px;
	border: 1px solid grey;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

span{
	position: absolute;
	right: 5px;
}

span button{
	height: 20px;
	margin-left: 5px;
	font-size: 12px;
}


.todo-input{
	margin-bottom: 20px;
}